<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coco">
        <activity
            android:name=".ui.connect.ChainLinkFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.SingleLinkFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.ConnectSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.ConnectLogsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.PerAppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.routing.RoutingProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.routing.RoutingProfileDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.connect.routing.RoutingRuleEditorActivity"
            android:exported="false" />
        <service
            android:name=".xray.service.XrayVpnService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>
        <service
            android:name=".xray.service.XrayProxyOnlyService"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <activity-alias
            android:name=".launcher.CocoLauncher"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/launcher_name_coco"
            android:roundIcon="@drawable/ic_launcher_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.CocoPlayLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/launcher_name_coco_play"
            android:roundIcon="@drawable/ic_launcher_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.CucuLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_cucu"
            android:label="@string/launcher_name_cucu"
            android:roundIcon="@drawable/ic_launcher_cucu_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.MusicVibeLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_music_note"
            android:label="@string/launcher_name_music_vibe"
            android:roundIcon="@drawable/ic_launcher_music_note_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.CocoFaLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/launcher_name_coco_fa"
            android:roundIcon="@drawable/ic_launcher_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launcher.BroccoliLauncher"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher_broccoli"
            android:label="@string/launcher_name_broccoli"
            android:roundIcon="@drawable/ic_launcher_broccoli_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
